<h2 class="friend-title">Friend</h2>

<h3 class="friend-list-title">My Friends List</h3>
<table class="friend-list-table">
  <tr>
    <th>First-name</th>
    <th>Last-name</th>
    <th>Nick-name</th>
    <th>GitHub Pages</th>
  </tr>
  <tr>
    <td>Kritsada</td>
    <td>Intaprom</td>
    <td>Ice</td>
    <td>
      <nav class="nav">
        <a
          class="round"
          href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-KR1T5ADA"
          >Lab02</a
        >
        <a
          class="round"
          href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-KR1T5ADA"
          >Lab03</a
        >
        <a
          class="round"
          href="https://github.com/camt-mmit/2023-01-954447-001-lab-04-introduction-to-angular-KR1T5ADA"
          >Lab04</a
        >
      </nav>
    </td>
  </tr>
  <tr>
    <td>Phuwakorn</td>
    <td>Kaisuan</td>
    <td>Art</td>
    <td>
      <nav class="nav">
        <a
          class="round"
          href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-phuwakorn11"
          >Lab02</a
        >
        <a
          class="round"
          href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-phuwakorn11"
          >Lab03</a
        >
        <a
          class="round"
          href="https://github.com/camt-mmit/2023-01-954447-001-lab-04-introduction-to-angular-phuwakorn11"
          >Lab04</a
        >
      </nav>
    </td>
  </tr>
  <tr>
    <td>Taratip</td>
    <td>Cheawsinrapatham</td>
    <td>Tong</td>
    <td>
      <nav class="nav">
        <a
          class="round"
          href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-RiamTonG"
          >Lab02</a
        >
        <a
          class="round"
          href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-RiamTonG"
          >Lab03</a
        >
        <a class="round">Lab04</a>
      </nav>
    </td>
  </tr>
</table>
