<h3 class="status-title">Status</h3>

<table class="status-table none">
  <tr class="none">
    <td class="status-list none">Current Time</td>
    <td class="none dot">::</td>
    <td class="none">{{ currentTime }}</td>
  </tr>
  <tr class="none">
    <td class="status-list none">User Agent</td>
    <td class="none dot">::</td>
    <td class="none">{{ userAgent }}</td>
  </tr>
  <tr class="none">
    <td class="status-list none">Languages</td>
    <td class="none dot">::</td>
    <td class="none">{{ languages }}</td>
  </tr>
  <tr class="none">
    <td class="status-list none">Is Cookie Enagled?</td>
    <td class="none dot">::</td>
    <td class="none">{{ cookieEnagled }}</td>
  </tr>
  <tr class="none">
    <td class="status-list none">Logical Processors</td>
    <td class="none dot">::</td>
    <td class="none">{{ logicalProcessors }}</td>
  </tr>
  <tr class="none">
    <td class="status-list none">Max Touch Processors</td>
    <td class="none dot">::</td>
    <td class="none">{{ maxTouchPoints }}</td>
  </tr>
</table>
