<header>
  <h1>{{ title }}</h1>
  <nav class="nav">
    <a class="nav-list" routerLink="./hello-world" routerLinkActive="st-active"
      ><span class="material-symbols-outlined"> language </span>Hello World
    </a>
    <a class="nav-list" routerLink="./profile" routerLinkActive="st-active">
      <span class="material-symbols-outlined"> person </span>Profile</a
    >
    <a class="nav-list" routerLink="./friend" routerLinkActive="st-active"
      ><span class="material-symbols-outlined"> groups </span>Friend</a
    >
    <a class="nav-list" routerLink="./status" routerLinkActive="st-active"
      ><span class="material-symbols-outlined"> pending </span>Status</a
    >
  </nav>
</header>

<router-outlet></router-outlet>
