<h2 class="profile-title">My Profile</h2>

<h3 class="profile-information">Basic Information</h3>
<ul class="information">
  <li><b>Name:</b>Warodom Techafong</li>
  <li><b>Gender:</b>Male</li>
  <li><b>Age:</b>21</li>
</ul>
<h3 class="profile-information">Autobiography</h3>
<p class="profile-info">
  In the pages of my life, I have journeyed through diverse landscapes, both
  internal and external. From the tender roots of my childhood to the blossoming
  dreams of adolescence, I navigated the ebbs and flows of life. Embracing
  triumphs and enduring trials, I discovered the resilience within. Now, as I
  turn the next chapter, I stand ready to embrace the unknown, eager to pen new
  stories of adventure, growth, and self-discovery.
</p>

<h3 class="profile-information">GitHub Pages</h3>
<nav class="nav">
  <a
    class="round"
    href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-andrewii23"
    >Lab 02</a
  >
  <a
    class="round"
    href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-andrewii23"
    >Lab 03</a
  >
  <a
    class="round"
    href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-andrewii23"
    >Lab 04</a
  >
</nav>
